<!---
;;
;;  This softeware is Copyright (c) 2009 A.F. Haffmans 
;;
;;    This file is part of cl-bliky.
;;
;;    cl-bliky is free software: you can redistribute it and/or modify
;;    it under the terms of the GNU General Public License as published by
;;   the Free Software Foundation, either version 3 of the License, or
;;    (at your option) any later version.
;;
;;    cl-bliky is distributed in the hope that it will be useful,
;;    but WITHOUT ANY WARRANTY; without even the implied warranty of
;;    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
;;    GNU General Public License for more details.
;;
;;    You should have received a copy of the GNU General Public License
;;    along with cl-bliky.  If not, see <http://www.gnu.org/licenses/>.
;;
;;

--->

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>
  <head>
    <title> Importing a git repository  </title>
    <style type="text/css">
      <!-- tmpl_var style-sheet -->
    </style>
  </head>  
  <body>
    <div id="mainClm">
      <div id="import-header">
	<a href="/"> <h1> Import a git repository </h1> </a>
	<br>
	<br>
	<br>
	<br>
      </div>
      <div id="import-edit">	
	<h2> Instructions </h2>
	<br>
	
      </div>
      Import the local repo located in <!-- tmpl_var repo-pathname -->
      <div id="intro-buttons">
	<form method="post" action="/import-local/?">
	  repo <input size="40" name="repo-path" value="<!-- tmpl_var repo-pathname -->" >
	  <input type="submit"  >
	</form>
      </div>
      Import a remote repo located at <!-- tmpl_var remote-repo -->
      <div id="intro-buttons">
	<form method="post" action="/import-remote/?">
	  remote repo <input size="40"   name="repo-path" value="<!-- tmpl_var repo-name -->" >
	  <input type="submit">
	</form>
      </div>
      
    </div>
  </body>
</html>
