<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>
  <head>
    <title> Create or edit a blog post </title>
    <style type="text/css">
      <!-- tmpl_var style-sheet -->
    </style>
  </head>  
  <body>
    <div id="mainClm">
      <div id="edit-header">
	<div id="blog-title">
	  <a href="/"> <h1> Edit blog post </h1> </a>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>
	</div>

      </div>
      <div id="intro-buttons">
	<form enctype="multipart/form-data" method="post" action="save-file?<!-- tmpl_var url_part -->">
	  <input type="file"   size="40"   name="file" value="select file" >
	  <input type="submit" size="20"   name="file" value="upload">
	</form>

	<!-- The main form closes all the way down -->
	<form action="?<!-- tmpl_var url_part -->" method="post">
	  <input type="submit" value="save post" />
      </div>
      <div id="intro-edit">	
	<h2> Title </h2>
	<input type="text" name="title" value="<!-- tmpl_var title -->" />
	
	<h2> Intro </h2>
	<textarea  rows="10" type="text" name="intro"> <!-- tmpl_var intro --> </textarea>
	
	<h2> Body </h2>
	<textarea  rows="30" type="text" name="body" > <!-- tmpl_var body --> </textarea>
	
      </div>
    <div id="intro-buttons">
      <input type="submit" value="save post" />    
    </div>
      </form>
      <!-- end of the main form -->
    </div>
  </body>
</html>
