<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	  "http://www.w3.org/TR/html4/strict.dtd">

<html>
  <head>
    <title> <!-- tmpl_var blog-title -->  </title>
    <style type="text/css">
      <!-- tmpl_var style-sheet -->
    </style>
  </head>  

  <body>

    <div id="mainClm">
      <a href="/"><h1> <!-- tmpl_var blog-title --></h1></a>
      <br>
      <br>
      <br>
      <br>
      <div id="post">
	<p><!-- tmpl_var timestamp --> </p>
	<h2> <!-- tmpl_var  title -->  </h2>
	<div id="intro">
	  <!-- tmpl_var intro -->
	</div>
	<div id="body">
	  <!-- tmpl_var body --> 
	</div>
      </div>

    <p id="footer">
      Powered by <a href="http://www.github.com/fons/cl-bliky"> cl-bliky </a>
    </p>
    
    </div><!-- end of main area -->

  </body>
</html>
