<!---
;;
;;  This softeware is Copyright (c) 2009 A.F. Haffmans 
;;
;;    This file is part of cl-bliky.
;;
;;    cl-bliky is free software: you can redistribute it and/or modify
;;    it under the terms of the GNU General Public License as published by
;;   the Free Software Foundation, either version 3 of the License, or
;;    (at your option) any later version.
;;
;;    cl-bliky is distributed in the hope that it will be useful,
;;    but WITHOUT ANY WARRANTY; without even the implied warranty of
;;    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
;;    GNU General Public License for more details.
;;
;;    You should have received a copy of the GNU General Public License
;;    along with cl-bliky.  If not, see <http://www.gnu.org/licenses/>.
;;
;;

--->

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>

<title> BLIKY Error Message </title>
<style type="text/css">
body{
      padding:50px 50px 50px 50px;	
      background:#ffffff;
      color:#000011;
      font:0.9em Sans-Serif;
     font:italic 100% Sans-Serif;
      float:left;
      }

h1,h2,h3,h4,h5,h6{
                   padding:0px;margin:0px;
                   }

h1{
    #margin:0px 0px 0px 0px;
    padding:50px 50px 50px 50px;
    color: #df0101;
    font:bold 200% Verdana,Sans-Serif;
    float:left;
    width:100%;
    }

h2 {
      padding:50px 50px 50px 50px;	
     #border-bottom:solid 1px #000000;
     color: #0000cc;
     font:bold 110% Verdana,Sans-Serif;
     }

h3 {
      padding:50px 50px 50px 50px;	
     #border-bottom:solid 1px #000000;
     color: #0000cc;
     font:italic 100% Sans-Serif;
     }

</style>
</head>


<body>

    <h1> An error condition was detected</h1>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h2> <!--tmpl_var error-condition --> </h2>
    <br>
    <!--tmpl_var error-message --> </h2>
    <br>
        Please consult the documentation or the code for additional information.

	<a href="/"><h3> return to the main page</h3></a>        
</body>


</html>


